<header class="site-header">

    <div class="container txt-center">

        <nav class="navbar">
            <ul>
                <li><a href="{{ "/" | prepend: site.baseurl }}">Home</a></li>
                <li class="divider">&bull;</li>
                <li><a href="{{ "/tech" | prepend: site.baseurl }}">Tech Research</a></li>
                <li class="divider">&bull;</li>
                <li><a href="{{ "/tech" | prepend: site.baseurl }}">User Research</a></li>
                <li class="divider">&bull;</li>
                <li><a href="{{ "/tech" | prepend: site.baseurl }}">Literature Review</a></li>
                <li class="divider">&bull;</li>
                <li><a href="{{ "/about" | prepend: site.baseurl }}">about us</a></li>
            </ul>
        </nav>

        <a href="{{ "/" | prepend: site.baseurl }}" class="author-thumb">
        <img src="{{ "/images/logo.png" | prepend: site.baseurl }}" alt="Author thumbnail" >
        <br/>
        <img src="{{ "/images/ct-logo.png" | prepend: site.baseurl }}" alt="Author thumbnail" class="dot">


        </a>
        <h1>PoVmap
            <small> Mapping the political sphere</small>
        </h1>
        <hr class="hr">

    </div>

</header>
